### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [9]:
x= "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
countx=x.count("row")
countx

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [16]:
print("What is your name?")
name= input()

print("What is your favorite color?")
color= input()

print ("What is your favorite animal?")
animal= input()

print(f'''{name} had a little {animal}. \n It was {color} as snow. \n And everywhere that {name} went, the {animal} was sure to go.''')

What is your name?
meka
What is your favorite color?
sage
What is your favorite animal?
dolphin
meka had a little dolphin.
 It was sage as snow.
 And everywhere that meka went, the dolphin was sure to go.

3. Print 3.14159 in a scientific number notation

In [8]:
#Whatever is after the colon(:) is what you want to express
print(f'{3.14159:e}')

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [22]:
print("{:.3f}".format(3.1559))

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [7]:
print(f'{1589.92341e3}')

1589923.41

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [15]:
print(39//16)
print(39%16)

2
7

In [16]:
print(2//16)
print(2%16)

0
2

In [17]:
answer=0x27

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [10]:
print(39//8)
print(39%8)

4
7

In [11]:
print(4//8)
print(4%8)

0
4

In [12]:
answer = 0o47 #bottom, up

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [3]:
print(39//2)
print(39%2)

19
1

In [4]:
print(19//2)
print(19%2)

9
1

In [5]:
print(9//2)
print(9%2)

4
1

In [7]:
print(4//2)
print(4%2)

2
0

In [8]:
print(2//2)
print(2%2)

1
0

In [9]:
print(1//2)
print(1%2)

0
1

In [13]:
answer=0b100111 #go from bottom up

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [1]:
print("What is the amount of your purchase?")
purch_amt = float(input())

print("What is your tax rate in percentage?")
tax_rate = float(input())

# Calculate tax amount
tax_amount = purch_amt * (tax_rate / 100)

# Calculate total amount including tax
total_amount = purch_amt + tax_amount

# Print the results
print("\nAmount of purchase: ${:.2f}".format(purch_amt))
print("Tax rate: {:.2f}%".format(tax_rate))
print("Tax amount: ${:.2f}".format(tax_amount))
print("Total amount (including tax): ${:.2f}".format(total_amount))

What is the amount of your purchase?
100
What is your tax rate in percentage?
5

Amount of purchase: $100.00
Tax rate: 5.00%
Tax amount: $5.00
Total amount (including tax): $105.00